.btn-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid $grey-secondary;
    padding: 12px 0;
  
    .card-dropdown & {
      margin-top: 20px;
      padding-top: 10px 0 0;
    }
}

.btn-detail-text {
    font-weight: 500;
}