.checkbox {
  display: flex;
  align-items: center;
}

.checkbox-label {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 22px;
  margin-right: 15px;
}

.checkbox-input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox-mark {
  display: block;
  position: relative;
  height: 17px;
  width: 17px;
  border: 1px solid $grey-light;
  border-radius: 3px;
  margin-right: 10px;
}

.checkbox-input:checked ~ .checkbox-mark {
  background-color: $blue;
  border: 1px solid $blue;
}

.checkbox-mark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-input:checked ~ .checkbox-mark:after {
  display: block;
}

.checkbox-label .checkbox-mark:after {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 15px;
  height: 15px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='16' height='16'%3E%3Cdefs%3E%3Cpath d='M10.813.146a.5.5 0 0 1 .765.638l-.058.07-7.333 7.333a.5.5 0 0 1-.638.058l-.07-.058L.147 4.854a.5.5 0 0 1 .638-.765l.07.057 2.979 2.98 6.98-6.98z' id='a'/%3E%3C/defs%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M0 0h16v16H0z'/%3E%3Cg transform='translate(2 4)'%3E%3Cmask id='b' fill='%23fff'%3E%3Cuse xlink:href='%23a'/%3E%3C/mask%3E%3Cuse fill='%23000' fill-rule='nonzero' xlink:href='%23a'/%3E%3Cg mask='url(%23b)' fill='%23FFF'%3E%3Cpath d='M-44.155-46.736h100v100h-100z'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.checkbox-title {
  font-size: 14px;
  font-weight: 500;
}