.link {
  display: flex;
  align-items: center;
  color: $sky-blue;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: $transition;

  white-space: nowrap;
  overflow: hidden; 
  text-overflow: ellipsis;

  &:hover {
    text-decoration: underline;
  }

  &:active {
    color: $blue;
  }

  .upload & {
    display: inline-flex;
    line-height: 1.57;
    align-items: baseline;
    text-decoration: underline;
    transition: $transition;

    &:hover {
      text-decoration: none;
    }
  }

  .card-alert & {
    display: block;
  }
}