<div className="sidebar is-open" id="sidebar">
      <div className="sidebar-header">
        <Logo />
      </div>
      <div className="sidebar-body">
        <ul className="sidebar-list">
          <li className="sidebar-list-item">
            <a
              className="sidebar-link active"
              href="#vehicle"
              data-tab="vehicle"
            >
              <div className="sidebar-icon">
                <span className="icon-vehicle" />
              </div>
              <span className="sidebar-link-title">Vehicle Types</span>
            </a>
          </li>
          <li className="sidebar-list-item">
            <a
              className="sidebar-link"
              data-bs-toggle="collapse"
              role="button"
              href="#architecture"
              data-tab="architecture"
            >
              <div className="sidebar-icon">
                <span className="icon-architecture" />
              </div>
              <span className="sidebar-link-title">Architecture</span>
            </a>
          </li>
          <li className="sidebar-list-item">
            <a
              className="sidebar-link"
              data-bs-toggle="collapse"
              role="button"
              href="#elements"
              data-tab="elements"
            >
              <div className="sidebar-icon">
                <span className="icon-elements" />
              </div>
              <span className="sidebar-link-title">Elements</span>
            </a>
          </li>
          <li className="sidebar-list-item">
            <a
              className="sidebar-link"
              data-bs-toggle="collapse"
              role="button"
              href="#tickets"
              data-tab="tickets"
            >
              <div className="sidebar-icon">
                <span className="icon-tickets" />
              </div>
              <span className="sidebar-link-title">Tickets</span>
            </a>
          </li>
          <li className="sidebar-list-item">
            <a
              className="sidebar-link"
              data-bs-toggle="collapse"
              role="button"
              href="/#"
            >
              <div className="sidebar-icon">
                <span className="icon-services" />
              </div>
              <span className="sidebar-link-title">Services</span>
            </a>
          </li>
          <li className="sidebar-list-item">
            <a
              className="sidebar-link"
              data-bs-toggle="collapse"
              role="button"
              href="/#"
            >
              <div className="sidebar-icon">
                <span className="icon-threats" />
              </div>
              <span className="sidebar-link-title">Threats</span>
            </a>
          </li>
          <li className="sidebar-list-item">
            <a
              className="sidebar-link"
              data-bs-toggle="collapse"
              role="button"
              href="/#"
            >
              <div className="sidebar-icon">
                <span className="icon-controls" />
              </div>
              <span className="sidebar-link-title">Controls</span>
            </a>
          </li>
          <li className="sidebar-list-item">
            <a
              className="sidebar-link"
              data-bs-toggle="collapse"
              role="button"
              href="/#"
            >
              <div className="sidebar-icon">
                <span className="icon-documents" />
              </div>
              <span className="sidebar-link-title">Documents</span>
            </a>
          </li>
          <li className="sidebar-list-item">
            <a
              className="sidebar-link disabled"
              data-bs-toggle="collapse"
              role="button"
              href="/#"
            >
              <div className="sidebar-icon">
                <span className="icon-reports" />
              </div>
              <span className="sidebar-link-title">Reports</span>
            </a>
          </li>
          <li className="sidebar-list-item">
            <a
              className="sidebar-link"
              data-bs-toggle="collapse"
              role="button"
              href="#notifications"
              data-tab="notifications"
            >
              <div className="sidebar-icon">
                <span className="icon-notifications" />
              </div>
              <span className="sidebar-link-title">Notifications</span>
            </a>
          </li>
          <li className="sidebar-list-item">
            <a
              className="sidebar-link"
              data-bs-toggle="collapse"
              role="button"
              href="/#"
            >
              <div className="sidebar-icon">
                <span className="icon-certification" />
              </div>
              <span className="sidebar-link-title">Certification</span>
            </a>
          </li>
          <li className="sidebar-list-item">
            <a
              className="sidebar-link"
              data-bs-toggle="collapse"
              role="button"
              href="/#"
            >
              <div className="sidebar-icon">
                <span className="icon-feeds" />
              </div>
              <span className="sidebar-link-title">External Feeds</span>
            </a>
          </li>
          <li className="sidebar-list-item">
            <a
              className="sidebar-link"
              data-bs-toggle="collapse"
              role="button"
              href="/#"
            >
              <div className="sidebar-icon">
                <span className="icon-сonfigurations" />
              </div>
              <span className="sidebar-link-title">Configurations</span>
            </a>
          </li>
          <li className="sidebar-list-item">
            <a
              className="sidebar-link"
              data-bs-toggle="collapse"
              role="button"
              href="/#"
            >
              <div className="sidebar-icon">
                <span className="icon-settings" />
              </div>
              <span className="sidebar-link-title">Settings</span>
            </a>
          </li>
        </ul>
      </div>
    </div>