.sidebar {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  min-width: 98px;
  background-color: $grey-dark;
  overflow: hidden;
  transition: $transition;

  &.is-open {
    min-width: 238px;
  }
}

.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: $header-height;
  background-color: $blue-dark;
}

.sidebar-body {
  padding: 20px 0;
}

.sidebar-link {
  display: flex;
  align-items: center;
  padding: 10px 35px;
  color: $white;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.28px;
  transition: $transition;

  &.active,
  &:hover {
    background-color: $blue-dark;
  }

  &.disabled {
    opacity: 0.4;
    cursor: text;
  }
}

.sidebar-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 8px;
  background-color: $blue-dark;

  .active & {
    background-color: $sky-blue;
  }
}

.sidebar-link-title {
  display: none;
  margin-left: 15px;

  .is-open & {
    display: block;
  }
}
