.avatar-card {
  display: flex;
  align-items: center;

  .header-dropdown & {
    margin-right: 10px;
    cursor: pointer;
  }
}

.avatar {
  flex: none;
  height: 40px;
  width: 40px;
  border-radius: 6px;
  overflow: hidden;
  margin-right: 12px;

  .table & {
    height: 24px;
    width: 24px;
    border-radius: 50%;
  }
}

.avatar-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.avatar-name {
  font-weight: 500;
  .header & {
    color: $grey;
  }
}
