.legend {
  display: flex;
  position: relative;
  padding-bottom: 13px;

  &:not(:last-child) {
    margin-right: 16px;
  }

  &.disabled { /*temporary. styles for view No Data */
    opacity: 0.5;
  }

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 55px;
    height: 3px;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &.Eth:after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='57' height='3' viewBox='0 0 57 3'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%234F98FF' fill-rule='nonzero'%3E%3Cpath d='M1340 3734.25h7c.414 0 .75-.336.75-.75s-.336-.75-.75-.75h-7c-.414 0-.75.336-.75.75s.336.75.75.75zm12 0h7c.414 0 .75-.336.75-.75s-.336-.75-.75-.75h-7c-.414 0-.75.336-.75.75s.336.75.75.75zm12 0h7c.414 0 .75-.336.75-.75s-.336-.75-.75-.75h-7c-.414 0-.75.336-.75.75s.336.75.75.75zm12 0h7c.414 0 .75-.336.75-.75s-.336-.75-.75-.75h-7c-.414 0-.75.336-.75.75s.336.75.75.75zm12 0h7c.414 0 .75-.336.75-.75s-.336-.75-.75-.75h-7c-.414 0-.75.336-.75.75s.336.75.75.75z' transform='translate(-1339.000000, -3732.000000)'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  }

  &.CAN:after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='55' height='3' viewBox='0 0 55 3'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%236CA8FE' fill-rule='nonzero'%3E%3Cpath d='M1499.75 3732c.414 0 .75.336.75.75s-.336.75-.75.75-.75-.336-.75-.75.336-.75.75-.75zm14 0c.414 0 .75.336.75.75s-.336.75-.75.75-.75-.336-.75-.75.336-.75.75-.75zm-28 0c.414 0 .75.336.75.75s-.336.75-.75.75-.75-.336-.75-.75.336-.75.75-.75zm-14.204 0c.414 0 .75.336.75.75s-.336.75-.75.75-.75-.336-.75-.75.336-.75.75-.75zm-3.546-.018c.414 0 .75.336.75.75 0 .415-.336.75-.75.75h-7c-.414 0-.75-.335-.75-.75 0-.414.336-.75.75-.75zm14 0c.414 0 .75.336.75.75 0 .415-.336.75-.75.75h-7c-.414 0-.75-.335-.75-.75 0-.414.336-.75.75-.75zm14 0c.414 0 .75.336.75.75 0 .415-.336.75-.75.75h-7c-.414 0-.75-.335-.75-.75 0-.414.336-.75.75-.75zm14 0c.414 0 .75.336.75.75 0 .415-.336.75-.75.75h-7c-.414 0-.75-.335-.75-.75 0-.414.336-.75.75-.75z' transform='translate(-1460.000000, -3731.000000)'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  }

  &.LIN:after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='57' height='3' viewBox='0 0 57 3'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%236CA8FE' fill-rule='nonzero'%3E%3Cpath d='M1570.988 3732c.414 0 .75.336.75.75s-.336.75-.75.75-.75-.336-.75-.75.336-.75.75-.75zm-3.86 0c.414 0 .75.336.75.75s-.336.75-.75.75-.75-.336-.75-.75.336-.75.75-.75zm20.86 0c.414 0 .75.336.75.75s-.336.75-.75.75-.75-.336-.75-.75.336-.75.75-.75zm-3.86 0c.414 0 .75.336.75.75s-.336.75-.75.75-.75-.336-.75-.75.336-.75.75-.75zm20.86 0c.414 0 .75.336.75.75s-.336.75-.75.75-.75-.336-.75-.75.336-.75.75-.75zm-3.86 0c.414 0 .75.336.75.75s-.336.75-.75.75-.75-.336-.75-.75.336-.75.75-.75zm-37.128-.018c.414 0 .75.336.75.75 0 .415-.336.75-.75.75h-7c-.414 0-.75-.335-.75-.75 0-.414.336-.75.75-.75zm17 0c.414 0 .75.336.75.75 0 .415-.336.75-.75.75h-7c-.414 0-.75-.335-.75-.75 0-.414.336-.75.75-.75zm17 0c.414 0 .75.336.75.75 0 .415-.336.75-.75.75h-7c-.414 0-.75-.335-.75-.75 0-.414.336-.75.75-.75zm14 0c.414 0 .75.336.75.75 0 .415-.336.75-.75.75h-4c-.414 0-.75-.335-.75-.75 0-.414.336-.75.75-.75z' transform='translate(-1556.000000, -3731.000000)'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  }
}

.legend-badge {
  font-size: 10px;
  padding: 2px 8px;
  color: $sky-blue;
  margin-right: 8px;
  border-radius: 2px;
  background-color: rgba($color: $sky-blue, $alpha: 0.15);
}

.legend-name {
  color: $grey;
  font-size: 14px;
  font-weight: 500;
}
