.properties-card {
    display: grid;
    // grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 10px;
    background-color: $blue-light;
    padding: 25px 30px;
    border-radius: 15px;
    margin-bottom: 20px;
}