.progressbar {
  display: flex;
  align-items: center;
  gap: 16px;
  &:not(:last-child) {
    margin-bottom: 12px;
  }
}

.progress-line {
  flex: 0 0;
  position: relative;
  min-width: 440px;
  height: 10px;
  background: $blue-light;
  border-radius: 5px;
  overflow: hidden;
}

.progress-label {
  min-width: 130px;
  display: flex;
  align-items: center;
}

.progress-line-active {
  position: absolute;
  right: 0;
  height: 100%;
  display: block;
  background-color: $sky-blue;
}

.progress-info {
  display: flex;
  justify-content: start;
  width: 38px;
  font-size: 20px;
  font-weight: 600;
  margin-right: 5px;
}

.progress-title {
  display: flex;
  justify-content: start;
  font-size: 14px;
  font-weight: 500;
  color: $grey;
}
