.thumbs-crumbs {
    display: flex;
    margin: 0 10px;

    .card-dropdown & {
        flex-direction: column;
    }
}

.thumbs-crumbs-item {
    color: $grey;
    font-size: 14px;
    font-weight: 500;
    border-left: 1px solid $grey-secondary;
    padding-left: 10px;
    margin-left: 10px;

    &:first-child {
        color: $black;
        font-weight: 600;
        border: 0;
        padding-left: 0;
        margin-left: 0;
    }

    .card-dropdown & {
        margin-left: 0;

        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }
}