.tickets-preview-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 28px;
}

.tickets-preview-title {
  font-size: 20px;
  font-weight: 500;
}

.tickets-preview-details {
  display: flex;
  align-items: center;
  color: $sky-blue;
  font-size: 14px;
  font-weight: 600;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &:before {
    content: "";
    display: block;
    width: 14px;
    height: 14px;
    background-size: cover;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='16' height='16' viewBox='0 0 16 16'%3E%3Cdefs%3E%3Cpath id='ya2dkoipca' d='M7.167 0c3.958 0 7.166 3.209 7.166 7.167 0 3.958-3.208 7.166-7.166 7.166S0 11.125 0 7.167 3.209 0 7.167 0zm0 1C3.76 1 1 3.76 1 7.167c0 3.405 2.76 6.166 6.167 6.166 3.405 0 6.166-2.76 6.166-6.166C13.333 3.76 10.573 1 7.167 1zm0 5.667c.245 0 .45.177.492.41l.008.09v2.666c0 .276-.224.5-.5.5-.246 0-.45-.177-.492-.41l-.008-.09V7.167c0-.276.224-.5.5-.5zM7.173 4c.276 0 .5.224.5.5 0 .245-.177.45-.41.492L7.173 5c-.282 0-.506-.224-.506-.5 0-.245.177-.45.41-.492L7.173 4z'/%3E%3C/defs%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg%3E%3Cg%3E%3Cpath d='M0 0H16V16H0z' transform='translate(-574.000000, -2582.000000) translate(574.000000, 2582.000000)'/%3E%3Cg transform='translate(-574.000000, -2582.000000) translate(574.000000, 2582.000000) translate(0.746262, 0.755263)'%3E%3Cmask id='jsduifoohb' fill='%23fff'%3E%3Cuse xlink:href='%23ya2dkoipca'/%3E%3C/mask%3E%3Cg fill='%234F98FF' mask='url(%23jsduifoohb)'%3E%3Cpath d='M0 0H100V100H0z' transform='translate(-41.871262, -43.755263)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    margin-right: 5px;
  }
}

.tickets-preview-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1;
  border-radius: 15px;
  border: solid 1px rgba(96, 109, 149, 0.2);
  padding: 15px 20px;
  font-size: 24px;
  font-weight: bold;
}

.tickets-preview-body {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.tickets-preview-data {
  font-size: 14px;
  font-weight: 500;
  color: $grey;
  white-space: nowrap;
}
