.tooltip-architecture {
    position: relative;
    padding: 5px 10px;
    border: 1px solid;
    border-radius: 5px;
    text-align: center;
}

.tooltip-architecture-arrow {
    position: absolute;
    display: block;
    width: 0;
    height: 0;

	width: 0;
	height: 0;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-bottom: 5px solid;
    top: -5px;
    left: 50%;
    transform: translate(-50%);

}
