$blue-dark: #121e51;
$blue: #297ef7;
$blue-light: #e9f2ff;
$blue-light-secondary: #dbeaff;
$sky-blue: #4f98ff;
$sky-blue-secondary: #6ca8fe;

$black: #100c2a;

$grey-dark: #091146;
$grey: #606d95;
$grey-light: #bec8e7;
$grey-secondary: #dfe2ea;

$white: #ffffff;

$orange-light: #faaa1b;
$orange-light-secondery: #fb5e06;
$orange-dark: #fb5e06;
$orange: #ffecde;

$red: #fc2033;
$red-light: #f26563;
$red-light-secondary: #ffe3e5;

$yellow-light: #fff5e1;
$yellow: #ffca6a;
$yellow-dark: #ffa027;

$pink: #e47bf1;
$purple: #ad6eff;
$azure: #7674fd;

$green: #10c9a1;
$green-light: #def8f3;
